.banner {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Hubble_ultra_deep_field.jpg/450px-Hubble_ultra_deep_field.jpg);
    color: white;
    padding: 120px 0;
  }

.container {
    width: 700px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
  }


.tx {
  font-size: 1rem;
}

.title {
color: gray;
width: fit-content;
}

.title:hover {
  color: black;
}

.tt {
  width:700px;
  }

.hol {
  margin-left: 50px;
}
